 body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
            color: #333;
            font-size: 15px;
        }
        .container{
            max-width: 950px;
            background-color: #ffffff;
            padding: 40px;
        }
        h1 {
            font-size: 2em;
            text-align: center;
            color: #005561
        }
        h3 {
            margin-top: 15px;
            font-weight: bold;
            font-size: 1.2em;
            color: #005561;
        }
        
        .section {
            margin-bottom: 30px;
        }
        .section h2 {
            font-size: 1.4em;
            border-bottom: 2px solid #1bbc9b;
            padding-bottom: 7px;
            margin-bottom: 7px;
            color: #1bbc9b;
        }
        .section p {
            margin: 10px 0;
            line-height: 1.6;
        }
        .section ul {
            list-style-type: none;
            padding: 0;
        }
        .section ul li {
            margin-bottom: 5px;
            position: relative;
            padding-left: 20px;
        }
        .section ul li::before {
            content: "•";
            position: absolute;
            left: 0;
            color: #005561;
        }
        .contact-info {
            text-align: center;
            margin-bottom: 20px;
        }
        .contact-info p {
            margin: 5px 0;
        }
        .contact-info a {
            color: #005561;
            text-decoration: none;
        }
        .contact-info a:hover {
            text-decoration: underline;
        }